<!DOCTYPE html>

<html>

  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalog</title>
  </head>

  <body>
    @if ((string)ViewContext.RouteData.Values["action"] == "Create"
    || (string)ViewContext.RouteData.Values["action"] == "Edit")
  {
      <div>
      @RenderSection("Scripts")
      </div>
  }
    <div>
    @RenderBody()
    </div>
  </body>

</html>